<div class="layoutcontainer wrapper">

  <!--  <div class="sidebarleft">-->
  <app-sidebar [_opened]="_opened"></app-sidebar>
  <!--  </div>-->

  <div class="restright container-fluid2" id="content">
    <app-header-navbar [_opened]="_opened" (openedChange)="_toggleSidebarParent($event)">
    </app-header-navbar>

    <div class="container-fluid2">

      <!--    <span transloco="hello"></span>-->

      <p-accordion>
        <p-accordionTab header="Header 1" [selected]="true">
          Content 1
        </p-accordionTab>
        <p-accordionTab header="Header 2">
          Content 2
        </p-accordionTab>
        <p-accordionTab header="Header 3">
          Content 3
        </p-accordionTab>
      </p-accordion>


      <p-accordion>

        <ng-container *ngFor="let in of counter(5); let i = index">
          <p-accordionTab header="Header {{i}}" [selected]="true">
            Content 1
          </p-accordionTab>
        </ng-container>

      </p-accordion>


      <router-outlet></router-outlet>
    </div>

  </div>
</div>
